/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
/* Default transition start*/
/*Default transition end*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.row {
  margin-top: 10rem;
}



.sub_title span {
  color: #090909;
  font-size: 1.25rem;
}

.title h3 {
  color: #1b1b1b;
  font-size: 2.625rem;
}
.title h1 {
  width: 50%;
  height: auto;
  top: 180px;
  left: 380px;
  font-size: 4.375rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

/*body {*/
/*  color: #000000;*/
/*  font-size: 16px;*/
/*  font-weight: 400;*/
/*  line-height: 1.65;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*  font-family: "Jost", sans-serif;*/
/*  background-color: #f2f2f2;*/
/*}*/

/*a,*/
/*button,*/
/*input {*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  text-decoration: none;*/
/*}*/
/*a:hover,*/
/*button:hover,*/
/*input:hover {*/
/*  text-decoration: none;*/
/*}*/
/*a:focus,*/
/*button:focus,*/
/*input:focus {*/
/*  outline: none;*/
/*}*/

/*ul > li {*/
/*  list-style: none;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*  color: #000000;*/
/*  font-weight: 700;*/
/*}*/

/*img {*/
/*  height: auto;*/
/*  max-width: 100%;*/
/*}*/

/*@-webkit-keyframes upDown {*/
/*  0% {*/
/*    -webkit-transform: translateY(10px);*/
/*            transform: translateY(10px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateY(-10px);*/
/*            transform: translateY(-10px);*/
/*  }*/
/*}*/

/*@keyframes upDown {*/
/*  0% {*/
/*    -webkit-transform: translateY(10px);*/
/*            transform: translateY(10px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateY(-10px);*/
/*            transform: translateY(-10px);*/
/*  }*/
/*}*/
/*@-webkit-keyframes rightLeft {*/
/*  0% {*/
/*    -webkit-transform: translateX(15px);*/
/*            transform: translateX(15px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(-15px);*/
/*            transform: translateX(-15px);*/
/*  }*/
/*}*/
/*@keyframes rightLeft {*/
/*  0% {*/
/*    -webkit-transform: translateX(15px);*/
/*            transform: translateX(15px);*/
/*  }*/
/*  100% {*/
/*    -webkit-transform: translateX(-15px);*/
/*            transform: translateX(-15px);*/
/*  }*/
/*}*/
/* css animations - end
================================================== */
/* transition - start ============================ */
/*a,*/
/*button {*/
/*  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);*/
/*  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);*/
/*}*/

/*@media (min-width: 1500px) {*/
/*  .container {*/
/*    max-width: 1510px;*/
/*  }*/
/*}*/

.logout_cl a
{
    color: #222 !important;
}
