 /*body {*/
 /*       margin:0;*/
 /*       padding:0;*/
 /*       font-family:sans-serif;*/
 /*       background:#fbfbfb;*/
 /*   }*/
.card {
    /*position:absolute !important;*/
    top:50%;
    left:93%;
    /*transform:translate(-50%,-50%);*/
    width:300px;
    min-height:400px;
    background:#fff;
    -webkit-box-shadow: 15px 10px 25px 6px rgba(0,0,0,0.74);
    box-shadow: 15px 10px 25px 6px rgba(0,0,0,0.74);
    border-radius:2.25rem !important;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}

